@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
<link rel="stylesheet" href="~/IcmOdivelas.styles.css" asp-append-version="true" />

<div class="container ml-6">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/image/Odivelas1.jpeg" class="d-block w-100 carousel-image" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="~/image/Odivelas2.jpg" class="d-block w-100 carousel-image" alt="Image 2">
            </div>
            <div class="carousel-item">
                <img src="~/image/Odivelas3.jpeg" class="d-block w-100 carousel-image" alt="Image 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
