
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
<link rel="stylesheet" href="~/IcmOdivelas.styles.css" asp-append-version="true" />


<p>
	<a href="#">home</a>
	<a href="#">Exposições</a>
	<a href="#">Pesquisa</a>
	<a href="#">acervo</a>
	<a href="#">vídeos</a>
	<a href="#">fotos</a>
	<a href="#">contato</a>
</p>
<p>
	2023 <a href="">Icm Odivelas</a> - All rights reserved.
</p>